name: Update Node App

on:
  push:
    tags:
      - 'release-*'

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Get current Git tag
        run: |
          TAG_CURRENT=$(git describe --tags --abbrev=0)
          echo "Current Git tag is $TAG_CURRENT"
          echo "##[set-output name=release_tag]${TAG_CURRENT}"
        id: current_tag

      - name: Set new Git tag
        run: |
          TAG_NEW="${{ steps.current_tag.outputs.release_tag }}"
          TAG_NEW="${TAG_NEW#release-}"  # 去掉 "release-" 前缀
          echo "New Git tag is $TAG_NEW"
          echo "##[set-output name=tag]${TAG_NEW}"
        id: new_tag

      - name: Remove Git Tag
        run: |
          git tag -d ${{ steps.current_tag.outputs.release_tag }}
          git push origin --delete ${{ steps.current_tag.outputs.release_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.12' # 你可以根据你的项目需求选择不同的 Node.js 版本

      - name: Run update.js
        run: node update.js ${{ steps.new_tag.outputs.tag }}

      - name: git Config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git config pull.rebase true

      - name: git Commit
        run: |
          git status
          git add .
          git commit -m "Update with tag: ${{ steps.new_tag.outputs.tag }}"
          git pull origin master # 實作時發現需要先 pull 再 push，否則會出現錯誤
          git tag ${{ steps.new_tag.outputs.tag }}
          git push origin HEAD:master ${{ steps.new_tag.outputs.tag }}
